.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.text-centeree {
  text-align: -webkit-center;
}

@keyframes moveUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); } /* Adjust the distance to control the movement */
}

.animateUpDown {
  animation: moveUpDown 1s infinite alternate;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bgOne {
  background-image: url('./assets/bodyTwo.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20%;
  background-position-y: 1100px;
}

.bgTwo {
  background-image: url('./assets/bodyOne.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
